<footer class="row text-center footer">
  <hr />
  {{ with .Site.Params.extra }}
  <div class="text-center copyright">{{ .copyright | markdownify }}</div>
  {{ if ne .poweredby false }}
  <div class="text-center powered">Powered by <a href="https://gohugo.io/">Hugo</a> and <a href="https://github.com/shenoybr/hugo-goa">Goa</a>, hosted with ♥ by <a href="https://framasoft.org/">Framasoft</a>.</div>
  {{ end }}
  {{ end }}
</footer>
